// Background
$bg-primary-dark: #121212;
$bg-secondary-dark: #151515;

// Colors
$white: #FFFFFF;
$gray: #C4C4C4;
$cyan: #00CED1;

// Gradient
$gradient-purple: linear-gradient(51.06deg, #9358F7 0.87%, #00CED1 97.48%) 1;
$gradient-pink: linear-gradient(132.33deg, #D24074 -0.67%, #6518B4 102.54%) 1